@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');
html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: auto;
    padding: auto;
}

header {
    display: inline;
}

marquee {
    font-size: 16px;
    padding: 8px;
}

nav {
    background-color: #39A2DB;
    padding: 3px;
    /* position: sticky; */
    top: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}

nav:after {
    content: '';
    clear: both;
    display: table;
}

nav .logo {
    float: left;
    color: #fff;
    font-size: 36px;
    font-weight: 600;
    line-height: 70px;
    padding-top: 5px;
    margin-left: 50px;
}

nav ul {
    float: right;
    margin-right: 40px;
    list-style: none;
    position: relative;
}

nav ul li {
    float: left;
    display: inline-block;
    background: #39A2DB;
    margin: 0 5px;
}

nav ul li a {
    color: #fff;
    line-height: 50px;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 15px;
}

nav ul li a:hover {
    background-color: #1C658C;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 0 0 5px #364e68,
        0 0 10px #132238;
}

.container {
    height : auto;
    margin: 20px 100px;
}

.keunggulan-wrapper {
    float: center;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.keunggulan-wrapper img {
    width: 128px;
    height: 128px;
    border-radius: 10px;
    float: center;
}

.keunggulan-wrapper img:hover {
    cursor: pointer;
    -webkit-transform: scale(1.08);
    transform: scale(1.08);
}

.keunggulan-wrapper p {
    color: black;
    text-align: center;
}

.keunggulan-wrapper .keterangan {
    color:#39A2DB;
    text-align: center;
}

.paket-wisata {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

.paket-wisata h3 {
    font-size: 30px;
    color: #39A2DB;
}

.paket-wisata-wrapper {
    float: left;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.paket-wisata-wrapper img {
    width: 100%;
    height: 187px;
    border-radius: 10px;
}

.paket-wisata-wrapper img:hover {
    cursor: pointer;
    -webkit-transform: scale(1.08);
    transform: scale(1.08);
}

.paket-wisata-wrapper p {
    color: orange;
}

.paket-wisata-wrapper .subjudul {
    color: #39A2DB;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.form-booking {
    padding-top: 25px;
    padding-bottom: 25px;
}

.form-booking .container {
    border-radius: 20px;
    background-color: #39A2DB;
    color: white;
    padding: 20px 80px 50px 80px;
}

.form-booking h3 {
    text-align: center;
    font-size: 30px;
}

label {
    padding-bottom: 10px;
    display: inline-block;
}

input, select, textarea {
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    padding-left: 12px;
}

textarea {
    height: 200px;
}

.row {
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
}

.row .nm,.mail {
    flex-grow: 5;
}

.row .nomor, .jumlah, .tgl {
    flex-grow: 3;
}

.row .wst,.catatan {
    flex-grow: 10;
}


.btn_kirim {
    background-color: #1C658C;
    text-decoration: none;
    color: white;
    padding: 15px 70px;
    border-radius: 10px;
}

.btn_kirim:hover {`
    opacity: 0.8;
}

footer {
    background-color: #39A2DB;
    color:#fff;
    width: 100%;
    height: 120px;

}
.footer-left {
    float:left;
    padding: 0px 20px;
}
.footer-left h1{
    margin-bottom: -10px;
}
.footer-left p{
    font-size: 12px;
}
.footer-right{
    float: right;
}
.footer-right p{
    margin-bottom: -10px;
    padding-right: 20px;
    fon
}
