@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');
* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: auto;
    padding: auto;
}

header {
    display: inline;
}

marquee {
    font-size: 16px;
    padding: 8px;
}

nav {
    background-color: #39A2DB;
    padding: 3px;
    position: sticky;
    top: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}

nav:after {
    content: '';
    clear: both;
    display: table;
}

nav .logo {
    float: left;
    color: #fff;
    font-size: 36px;
    font-weight: 600;
    line-height: 70px;
    padding-top: 5px;
    margin-left: 50px;
}

nav ul {
    float: right;
    margin-right: 40px;
    list-style: none;
    position: relative;
}

nav ul li {
    float: left;
    display: inline-block;
    background: #39A2DB;
    margin: 0 5px;
}

nav ul li a {
    color: #fff;
    line-height: 50px;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 15px;
}

nav ul li a:hover {
    background-color: #1C658C;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 0 0 5px #364e68,
        0 0 10px #132238;
}

.container {
    height : auto;
    margin: 20px 100px;
}

.paket-wisata {
    height: 300px;
    margin: auto;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

.paket-wisata h3 {
    /* font-size: 30px; */
    color: #39A2DB;
}

.wrapper {
    width: 21%;
    height: 222px;
    display: inline-block;
    margin: 10px 10px;
}

.wrapper img {
    width: 80%;
    height: 50%;
    margin: 10px 0px;
    border-radius: 10px;
}

.wrapper img:hover {
    cursor: pointer;
}

.wrapper p {
    color: orange;
}

.wrapper .subjudul {
    color: #39A2DB;
}

.form-booking {
    padding-top: 25px;
    padding-bottom: 25px;
}

.form-booking .container {
    border-radius: 20px;
    background-color: #39A2DB;
    color: white;
    padding: 20px 80px 50px 80px;
}

.form-booking h3 {
    text-align: center;
    font-size: 30px;
}

label {
    padding-bottom: 10px;
    display: inline-block;
}

input, select, textarea {
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    padding-left: 12px;
}

textarea {
    height: 200px;
}

.row {
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
}

.row .nm,.mail {
    flex-grow: 5;
}

.row .nomor, .jumlah, .tgl {
    flex-grow: 3;
}

.row .wst,.catatan {
    flex-grow: 10;
}

.btn_submit {
    font-family: 'Poppins', sans-serif;
    font-size: large;
    background-color: #1C658C;
    color: white;
    border-style: none;
}

footer {
    height: 50px;
    background-color: #39A2DB;
}